---
import MenuButton from './MenuButton.astro';
---

<dialog class="menu" id="menu" aria-label="メニュー" data-dialog-menu>
  <div class="container" data-menu-container>
    <nav class="navigation">
      <ul class="list">
        <li class="item">
          <a class="link" href="#">ページ1</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ2</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ3</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ4</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ5</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ6</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ7</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ8</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ9</a>
        </li>
        <li class="item">
          <a class="link" href="#">ページ10</a>
        </li>
      </ul>
    </nav>
  </div>
  <MenuButton />
</dialog>

<style lang="scss">
  @use '@/styles/mixin' as *;
  @use '@/styles/functions' as *;
  @use '@/styles/extends' as *;

  .menu {
    width: 100%;
    max-height: 100vh;
    transition: opacity 0.5s;
    opacity: 0;
    margin: 0;

    &::backdrop {
      background-color: rgb(0 0 0 / 50%);
      transition: opacity 0.5s;
      opacity: 0;
    }

    &.-open {
      opacity: 1;

      &::backdrop {
        opacity: 1;
      }
    }
  }

  .container {
    background-color: var(--white-color);
    padding: 100px var(--inner-inline-padding);
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .item {
    font-size: var(--font-size-3xl);
    font-weight: 700;
  }

  .menu-button {
    position: fixed;
    top: calc(var(--header-height) / 2);
    transform: translateY(-50%);
    right: var(--spacing-md);
  }

  body.-open {
    overflow: hidden;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', (): void => {
    /* 要素の取得 */
    const body = document.querySelector<HTMLBodyElement>('body');
    const menu =
      document.querySelector<HTMLDialogElement>('[data-dialog-menu]');
    const container = document.querySelector<HTMLDivElement>(
      '[data-menu-container]',
    );
    const openButton = document.querySelector<HTMLButtonElement>(
      '[data-menu-open-button]',
    );
    const closeButton = document.querySelector<HTMLButtonElement>(
      '[data-menu-close-button]',
    );

    /* 要素が存在しない場合は処理を中断 */
    if (!menu || !container || !openButton || !closeButton || !body) return;

    /* フォーカス可能な要素を取得 */
    const focusableAllElements = menu.querySelectorAll<HTMLElement>(
      'a[href], button:not([disabled]), input:not([disabled]), select:not([disabled]), textarea:not([disabled]), [tabindex]:not([tabindex="-1"])',
    );
    /* フォーカス可能な要素の配列を作成 */
    const focusableElements = Array.from(focusableAllElements);
    /* フォーカス可能な要素の最初の要素を取得 */
    const firstFocusableElement = focusableElements[0];

    /* メニューを開く関数 */
    const openMenu = (): void => {
      menu.showModal();
      setExpanded(true);
      addOpenClass(menu);
      addOpenClass(body);
      firstFocusableElement?.focus();
    };

    /* メニューを閉じる関数 */
    const closeMenu = (): void => {
      removeOpenClass(menu);
      removeOpenClass(body);
      setExpanded(false);
      menu.addEventListener(
        'transitionend',
        () => {
          menu.close();
        },
        { once: true },
      );
    };

    const setExpanded = (expanded: boolean): void => {
      if (expanded) {
        openButton.setAttribute('aria-expanded', 'true');
        closeButton.setAttribute('aria-expanded', 'true');
      } else {
        openButton.setAttribute('aria-expanded', 'false');
        closeButton.setAttribute('aria-expanded', 'false');
      }
    };

    /* 開閉状態を管理するクラスを追加する関数 */
    const addOpenClass = (el: HTMLElement): void => el.classList.add('-open');

    /* 開閉状態を管理するクラスを削除する関数 */
    const removeOpenClass = (el: HTMLElement): void =>
      el.classList.remove('-open');

    /* メニューが開いているかどうかを判定する関数 */
    const isMenuOpen = (): boolean => menu.classList.contains('-open');

    /* メニューを開くボタンをクリックした時の処理 */
    openButton.addEventListener('click', openMenu);
    /* メニューを閉じるボタンをクリックした時の処理 */
    closeButton.addEventListener('click', closeMenu);

    /* メニューの外をクリックした時の処理 */
    menu.addEventListener('click', (e: MouseEvent) => {
      console.log(e.target);
      if (e.target !== container && e.target === menu && isMenuOpen()) {
        closeMenu();
      }
    });

    /* メニューが閉じた時の処理（Escapeキー対応） */
    menu.addEventListener('keydown', (e) => {
      if (e.key === 'Escape' && isMenuOpen()) {
        e.preventDefault();
        closeMenu();
      }
    });
  });
</script>
