---
import Layout from '@/layout/Layout.astro';
import Section from '@/components/Section.astro';
import PageTitle from '@/components/PageTitle.astro';
import Menu from './Menu.astro';
const pageTitle = 'メニュー（div + role）';
---

<Layout pageTitle={pageTitle}>
  <Section>
    <PageTitle title={pageTitle} />
    <Menu />
  </Section>
</Layout>
