---
import Layout from './layout/Layout.astro';
import Header from './layout/Header.astro';
import Loader from './components/module/Loader.astro';
import MainVisual from './components/module/MainVisual.astro';
---

<Layout pageTitle="WAAPI - デモストレーション">
  <Loader />
  <main>
    <Header />
    <MainVisual/>
  </main>
</Layout>
