---
import Layout from '../../layout/Layout.astro';
import Section from '@/components/Section.astro';
import PlayGround from '@/components/PlayGround.astro';
import PageTitle from '@/components/PageTitle.astro';
import Text from '@/components/Text.astro';
const pageTitle = 'YouTube iframeの制御';
---

<Layout pageTitle={pageTitle}>
  <Section>
    <PageTitle title={pageTitle} />
    <Text>
      <p>aaaaaaaa</p>
      <p>aaaaaaaa</p>
      <p>aaaaaaaa</p>
      <p>aaaaaaaa</p>
    </Text>
    <PlayGround> aaaaaaaaa </PlayGround>
  </Section>
</Layout>
