@use 'mixin' as *;
@use 'functions' as *;

:root {
  --wd-color-primary: rgb(112 82 137);
  --wd-color-surface-tint: rgb(112 82 137);
  --wd-color-on-primary: rgb(255 255 255);
  --wd-color-primary-container: rgb(241 218 255);
  --wd-color-on-primary-container: rgb(87 58 112);
  --wd-color-secondary: rgb(102 90 111);
  --wd-color-on-secondary: rgb(255 255 255);
  --wd-color-secondary-container: rgb(238 221 246);
  --wd-color-on-secondary-container: rgb(78 66 86);
  --wd-color-tertiary: rgb(128 81 86);
  --wd-color-on-tertiary: rgb(255 255 255);
  --wd-color-tertiary-container: rgb(255 217 220);
  --wd-color-on-tertiary-container: rgb(102 58 63);
  --wd-color-error: rgb(186 26 26);
  --wd-color-on-error: rgb(255 255 255);
  --wd-color-error-container: rgb(255 218 214);
  --wd-color-on-error-container: rgb(147 0 10);
  --wd-color-background: rgb(255 247 254);
  --wd-color-on-background: rgb(30 26 32);
  --wd-color-surface: rgb(255 247 254);
  --wd-color-on-surface: rgb(30 26 32);
  --wd-color-surface-variant: rgb(233 223 234);
  --wd-color-on-surface-variant: rgb(75 69 77);
  --wd-color-outline: rgb(124 117 126);
  --wd-color-outline-variant: rgb(205 196 206);
  --wd-color-shadow: rgb(0 0 0);
  --wd-color-scrim: rgb(0 0 0);
  --wd-color-inverse-surface: rgb(51 47 53);
  --wd-color-inverse-on-surface: rgb(247 238 246);
  --wd-color-inverse-primary: rgb(220 185 248);
  --wd-color-primary-fixed: rgb(241 218 255);
  --wd-color-on-primary-fixed: rgb(41 12 65);
  --wd-color-primary-fixed-dim: rgb(220 185 248);
  --wd-color-on-primary-fixed-variant: rgb(87 58 112);
  --wd-color-secondary-fixed: rgb(238 221 246);
  --wd-color-on-secondary-fixed: rgb(33 24 41);
  --wd-color-secondary-fixed-dim: rgb(209 193 217);
  --wd-color-on-secondary-fixed-variant: rgb(78 66 86);
  --wd-color-tertiary-fixed: rgb(255 217 220);
  --wd-color-on-tertiary-fixed: rgb(50 16 22);
  --wd-color-tertiary-fixed-dim: rgb(243 183 188);
  --wd-color-on-tertiary-fixed-variant: rgb(102 58 63);
  --wd-color-surface-dim: rgb(224 216 223);
  --wd-color-surface-bright: rgb(255 247 254);
  --wd-color-surface-container-lowest: rgb(255 255 255);
  --wd-color-surface-container-low: rgb(250 241 249);
  --wd-color-surface-container: rgb(244 235 243);
  --wd-color-surface-container-high: rgb(238 230 237);
  --wd-color-surface-container-highest: rgb(232 224 232);

  --fz-xs: #{calcClamp(11, 12, 375, 1024)};
  --fz-sm: #{calcClamp(13, 14, 375, 1024)};
  --fz-base: #{calcClamp(14, 15, 375, 1024)};
  --fz-md: #{calcClamp(16, 17, 375, 1024)};
  --fz-lg: #{calcClamp(18, 20, 375, 1024)};
  --fz-xl: #{calcClamp(20, 22, 375, 1024)};
  --fz-2xl: #{calcClamp(22, 24, 375, 1024)};
  --fz-3xl: #{calcClamp(24, 26, 375, 1024)};
  --fz-4xl: #{calcClamp(28, 30, 375, 1024)};
  --fz-5xl: #{calcClamp(32, 34, 375, 1024)};
  --heading-1: #{calcClamp(30, 36, 375, 1024)};
  --heading-2: #{calcClamp(28, 32, 375, 1024)};
  --heading-3: #{calcClamp(24, 28, 375, 1024)};
  --heading-4: #{calcClamp(20, 22, 375, 1024)};
  --heading-5: #{calcClamp(18, 20, 375, 1024)};
  --heading-6: #{calcClamp(16, 17, 375, 1024)};
  --font-primary: "Zen Kaku Gothic New", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --spacing-xs: #{rem(8)};
  --spacing-sm: #{rem(12)};
  --spacing-md: #{rem(20)};
  --spacing-lg: #{rem(24)};
  --spacing-xl: #{rem(28)};
  --spacing-2xl: #{rem(28)};
  --spacing-3xl: #{rem(32)};
  --spacing-4xl: #{rem(36)};
  --spacing-5xl: #{rem(40)};
  --spacing-6xl: #{rem(48)};
  --spacing-7xl: #{rem(72)};
  --spacing-8xl: #{rem(96)};
  --focus-outline-color: var(--primary-color);
  --focus-outline-offset: 2px;
  --focus-outline-width: 2px;
  --focus-outline-style: solid;

  @include mq('lg') {
    --fz-xs: #{rem(13)};
    --fz-sm: #{rem(14)};
    --fz-base: #{rem(16)};
    --fz-md: #{rem(18)};
    --fz-lg: #{rem(20)};
    --fz-xl: #{rem(24)};
    --fz-2xl: #{rem(28)};
    --fz-3xl: #{rem(32)};
    --fz-4xl: #{rem(36)};
    --fz-5xl: #{rem(40)};
    --spacing-5xl: #{rem(48)};
    --spacing-6xl: #{rem(52)};
    --heading-1: #{rem(40)};
    --heading-2: #{rem(36)};
    --heading-3: #{rem(32)};
    --heading-4: #{rem(24)};
    --heading-5: #{rem(22)};
    --heading-6: #{rem(20)};
    --spacing-xs: #{rem(12)};
    --spacing-sm: #{rem(16)};
    --spacing-md: #{rem(24)};
    --spacing-lg: #{rem(32)};
    --spacing-xl: #{rem(40)};
    --spacing-2xl: #{rem(48)};
    --spacing-3xl: #{rem(56)};
    --spacing-4xl: #{rem(64)};
    --spacing-5xl: #{rem(72)};
    --spacing-6xl: #{rem(80)};
    --spacing-7xl: #{rem(100)};
    --spacing-8xl: #{rem(120)};
  }
}
