---
import Layout from '@/layout/Layout.astro';
import PageTitle from '@/components/PageTitle.astro';
import Heading2 from '@/components/Heading2.astro';
---

<Layout pageTitle="FLIP / View Transition API">
  <PageTitle title="FLIP / View Transition API" />

  <div class="wrapper">
    <section class="section" data-scroll-trigger="fade-up">
      <Heading2
        class="title"
        title="リストレイアウトとカードレイアウトを変更する"
      />
      <button class="button" data-button>切り替える</button>
      <ul class="container" data-layout="list">
        <li class="item" data-item="list" style="view-transition-name: item-0">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-1">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-2">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-3">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-4">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-5">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-6">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-7">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-8">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-9">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-10">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
        <li class="item" data-item="list" style="view-transition-name: item-11">
          <p class="item-title">タイトル</p>
          <p class="item-description">
            文章が入ります文章が入ります文章が入ります
          </p>
          <div class="item-thumbnail"></div>
        </li>
      </ul>
    </section>
  </div>
</Layout>

<style lang="scss">
  @use '../../../../styles/mixin' as *;
  @use '../../../../styles/functions' as *;

  .container {
    display: grid;
    gap: rem(24);
  }

  .item {
    padding: rem(20);
    border-radius: rem(8);
    border: 1px solid var(--light-gray-color);
    display: grid;
    gap: rem(12) rem(16);
  }

  .item-title {
    font-size: var(--font-size-md);
    font-weight: 700;
    grid-area: title;
  }

  .item-thumbnail {
    background-color: var(--bg-color);
    aspect-ratio: 1 / 1;
    grid-area: thumb;
  }

  .item-description {
    grid-area: description;
  }

  .container[data-layout='list'] {
    grid-template-columns: repeat(2, 1fr);
  }

  .item[data-item='list'] {
    grid-template-areas:
      'thumb title'
      'thumb description';
    grid-template-columns: rem(120) 1fr;

    .item-title {
      align-self: end;
    }

    .item-description {
      align-self: start;
    }
  }

  .container[data-layout='card'] {
    grid-template-columns: repeat(5, 1fr);
  }

  .item[data-item='card'] {
    grid-template-areas:
      'thumb'
      'title'
      'description';

    .item-title {
      align-self: end;
    }

    .item-description {
      align-self: start;
    }
  }
</style>

<script>
  const button = document.querySelector<HTMLButtonElement>('[data-button]');
  const container = document.querySelector<HTMLUListElement>('[data-layout]');
  const items = document.querySelectorAll<HTMLLIElement>('[data-item]');

  if (container && button) {
    button.addEventListener('click', () => {
      const next = container.dataset.layout === 'list' ? 'card' : 'list';
      if (!document.startViewTransition) {
        container.dataset.layout = next;
        items.forEach((item) => (item.dataset.item = next));
        return;
      }
      document.startViewTransition(() => {
        container.dataset.layout = next;
        items.forEach((item) => (item.dataset.item = next));
      });
    });
  }
</script>
