@use '@/styles/mixin' as *;
@use '@/styles/functions' as *;
@use '@/styles/variables' as *;

.formButton {
  width: 300px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--black-color);
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;

  @include hover {
    background-color: var(--primary-color);
  }

  &:disabled {
    pointer-events: none;
    background-color: #eee;
  }
}
