---
type Props = {
  pageTitle: string;
  viewTransitions?: boolean;
};
const { pageTitle, viewTransitions = false } = Astro.props;
import Head from './Head.astro';
import '@/styles/global.scss';
import 'kiso.css';
---

<html lang="ja">
  <Head pageTitle={pageTitle} viewTransitions={viewTransitions} />
  <body transition:animate="none">
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    padding-block: var(--spacing-8xl);
    padding-inline: var(--_main-inline-padding, var(--inner-inline-padding));
  }
</style>
